# Ignorar carpetas target y build típicas de Maven y Gradle
target/
build/

# No ignorar maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar

# No ignorar carpetas target específicas de src/main y src/test
!**/src/main/**/target/
!**/src/test/**/target/

# Archivos de bases de datos H2 (base mv.db)
data/*.mv.db
data/*.trace.db

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignorar carpetas build en src/main y src/test de NetBeans
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
